section {
  padding: rem(40) 0;
}

.product-single-right {
  padding-left: rem(60);

  @include desktop-sm() {
    padding-left: 0;
  }

  .product-price-box {
    background: $white-color;
    padding: rem(25);
    border-radius: rem(5);
    -webkit-box-shadow: 0 0 6px 1px #DBDBDB;
    box-shadow: 0 0 6px 1px #DBDBDB;
    margin: rem(35) 0;


    .price-block {
      @include tablet-md() {
        margin-bottom: rem(20);
      }

      h3 {
        font-size: rem(20);
        line-height: rem(30);
        margin-bottom: rem(10);
        border-bottom: 1px solid $color4;

        @include desktop-sm() {
          font-size: rem(20);
          line-height: rem(25);
        }

        @include tablet-lg() {
          font-size: rem(18);
          line-height: rem(23);
        }

        @include mobile-lg() {
          font-size: rem(16);
          line-height: rem(21);
        }
      }

      h4 {
        font-weight: 700;
        color: $primary-color;
      }

      p {
        font-weight: 700;
        font-size: rem(20);
        line-height: rem(30);
        color: $black-color;
        margin-bottom: 0;

        @include tablet-lg() {
          font-size: rem(14);
          line-height: rem(21);
        }

        span {
          color: $primary-color;
        }
      }

      &.special {
        h4 {
          color: $color5;

          @include tablet-md() {
            margin-bottom: 0;
          }

        }
      }
    }
  }

  .quantity-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(20);


    @include tablet-lg() {
      display: block;
    }

    @include tablet-md() {
      padding-top: 0;
    }

    .cart-button{
      span{
        font-size: rem(20);
      }
    }

  }


  .cart-contact {
    @include mobile-lg() {
      display: none;
    }

    &:hover {
      opacity: 0.5;
    }

    img {
      @include tablet-lg() {
        width: rem(40);
      }
    }
  }

  .delivery-details {
    margin-bottom: rem(20);

    img{
      max-width: 100%;
      height: auto;
    }

    .delivery-item {
      display: flex;
      align-items: center;
      margin-bottom: rem(15);

      img {
        @include tablet-lg() {
          width: rem(40);
        }
      }


      h4 {
        font-weight: 700;
        margin-bottom: 0;
      }

      p {
        font-size: rem(12);
        line-height: rem(16);
        margin-bottom: 0;
      }

      .delivery-item-txt {
        margin-left: rem(20);
      }
    }
  }

}

.checklist {
  margin-bottom: rem(25);
  padding-top: rem(5);

  ul {
    li {
      display: block;
      position: relative;
      padding-left: rem(25);
      font-size: rem(12);
      line-height: rem(14);
      font-weight: 700;
      margin-bottom: rem(10);

      &:last-child {
        margin-bottom: 0;
      }

      &::after {
        content: url("../img/check.svg");
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.quantity {
  display: flex;
  align-items: center;

  @include tablet-lg() {
    margin-bottom: rem(10);
  }

  .quantity__minus,
  .quantity__plus {
    display: block;
    width: rem(45);
    height: rem(55);
    margin: 0;
    background: $color6;
    text-decoration: none;
    text-align: center;
    line-height: rem(55);

    @include tablet-lg() {
      height: rem(40);
      width: rem(40);
      line-height: rem(40);
    }

    &:hover {
      background: $color2;
      color: $black-color;
    }

    &:link {
      color: $black-color;
    }

    &:visited {
      color: $black-color;
    }
  }

  .quantity__minus {
    -webkit-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
  }

  .quantity__plus {
    -webkit-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
  }

  .quantity__input {
    width: rem(45);
    height: rem(55);
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0;
    background: $color6;
    color: $black-color;
    outline: none;

    @include tablet-lg() {
      height: rem(40);

    }
  }

}


.accordion {
  .accordion-item {
    border: 0;
    margin-bottom: rem(45);

    @include tablet-lg() {
      margin-bottom: rem(20);
    }

    h3 {
      line-height: normal;


      .accordion-button {
        padding: 0;
        border-bottom: 1px solid $color4;
        border-radius: 0;
        box-shadow: none;
        background: none;
        font-size: rem(24);
        line-height: rem(26);
        font-weight: 700;
        color: $black-color;
        padding-bottom: rem(15);
        border-radius: 0 !important;

        @include desktop-xs() {
          font-size: rem(20);
          line-height: rem(22);
        }

        &:after {
          background-image: url("../img/expand1.svg");
          width: rem(44);
          height: rem(44);
          background-size: cover;

          // content: "\e90c";
          //   color: #eee;

          @include tablet-lg() {
            width: rem(40);
            height: rem(40);
          }
        }
      }
    }

    .accordion-body {
      padding: rem(35) 0 0;

      @include desktop-xs() {
        padding: rem(20) 0 0;
      }

      h4 {
        font-weight: 700;
        text-transform: uppercase;
      }

      .spec-list {
        ul {
          li {
            display: block;
            margin-bottom: rem(5);



            strong {
              min-width: rem(180);
              display: inline-block;

              @include tablet-lg() {
                min-width: rem(150);
              }

              @include tablet-sm() {
                min-width: rem(120);
              }

              @include mobile-sm() {
                min-width: auto;
              }
            }
          }
        }
      }
    }
  }

  .moretext {
    display: none;
  }

  .moreless-button {
    color: $color7;
    text-decoration: underline;

    &:hover {
      color: $black-color;
    }
  }
}










