

.cart-button {
  display: inline-block;
  font-family: $font-sub;
  font-weight: 500;
  color: $white-color;
  font-size: rem(16);
  line-height: rem(55);
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: $primary-color;
  text-align: center;
  padding: 0 rem(45);
  margin: 0 rem(10);

  @include desktop-xs() {
    padding: 0 rem(15);
    font-size: rem(14);
    letter-spacing: rem(-1);
  }

  @include tablet-lg() {
    margin-left: 0;
    line-height: rem(40);
  }



  &:hover, 
  &:active, 
  &:focus {
    background: $color1;
    color: $white-color;
  }

  span {
    margin-right: rem(10);
    position: relative;
    top: rem(2);

    @include desktop-xs() {
      margin-right: rem(5);
      top: rem(4);
    }
  }
}